<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bsapi.mapper.OrderItemMapper">
    
    <resultMap type="OrderItem" id="OrderItemResult">
        <result property="orderItemId"    column="order_item_id"    />
        <result property="orderSn"    column="order_sn"    />
        <result property="productId"    column="product_id"    />
        <result property="productCount"    column="product_count"    />
        <result property="shopId"    column="shop_id"    />
        <result property="fare"    column="fare"    />
        <result property="subtotal"    column="subtotal"    />
    </resultMap>

    <sql id="selectOrderItemVo">
        select order_item_id, order_sn, product_id, product_count, shop_id, fare, subtotal from order_item
    </sql>

    <select id="selectOrderItemList" parameterType="OrderItem" resultMap="OrderItemResult">
        <include refid="selectOrderItemVo"/>
        <where>  
            <if test="orderSn != null  and orderSn != ''"> and order_sn = #{orderSn}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="productCount != null "> and product_count = #{productCount}</if>
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="fare != null "> and fare = #{fare}</if>
            <if test="subtotal != null "> and subtotal = #{subtotal}</if>
        </where>
    </select>
    
    <select id="selectOrderItemByOrderItemId" parameterType="Long" resultMap="OrderItemResult">
        <include refid="selectOrderItemVo"/>
        where order_item_id = #{orderItemId}
    </select>
        
    <insert id="insertOrderItem" parameterType="OrderItem" useGeneratedKeys="true" keyProperty="orderItemId">
        insert into order_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderSn != null and orderSn != ''">order_sn,</if>
            <if test="productId != null">product_id,</if>
            <if test="productCount != null">product_count,</if>
            <if test="shopId != null">shop_id,</if>
            <if test="fare != null">fare,</if>
            <if test="subtotal != null">subtotal,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderSn != null and orderSn != ''">#{orderSn},</if>
            <if test="productId != null">#{productId},</if>
            <if test="productCount != null">#{productCount},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="fare != null">#{fare},</if>
            <if test="subtotal != null">#{subtotal},</if>
         </trim>
    </insert>
    <insert id="batchInsertOrderItems">
        insert into order_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            order_sn,product_id,product_count,shop_id,fare,subtotal,
        </trim>
            <foreach collection="orderItems" open="(" item="ot" separator="," close=")">
                #{ot}
            </foreach>
    </insert>

    <update id="updateOrderItem" parameterType="OrderItem">
        update order_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderSn != null and orderSn != ''">order_sn = #{orderSn},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="productCount != null">product_count = #{productCount},</if>
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="fare != null">fare = #{fare},</if>
            <if test="subtotal != null">subtotal = #{subtotal},</if>
        </trim>
        where order_item_id = #{orderItemId}
    </update>

    <delete id="deleteOrderItemByOrderItemId" parameterType="Long">
        delete from order_item where order_item_id = #{orderItemId}
    </delete>

    <delete id="deleteOrderItemByOrderItemIds" parameterType="String">
        delete from order_item where order_item_id in 
        <foreach item="orderItemId" collection="array" open="(" separator="," close=")">
            #{orderItemId}
        </foreach>
    </delete>
    <delete id="batchDeleteOrderItem">
        delete from order_item
        <where>
            order_sn in
            <foreach collection="orderSns" open="(" item="orderSn" separator="," close=")">
                #{orderSn}
            </foreach>
        </where>
    </delete>
</mapper>